.hero-screen {
  background: $secondary-background-color;
  margin-right: auto;
  margin-left: auto;
  width: auto;
  max-width: 1600px;
  height: 400px;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/mobile/imghero.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-resolution: 2dppx) {
  .hero-screen {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/mobile/imghero@2x.jpg");
  }
}

@media (min-width: 481px) {
  .hero-screen {
    background-size: cover;

    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/tablet/imghero.jpg");
  }

  @media (min-resolution: 2dppx) {
    .hero-screen {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/tablet/imghero@2x.jpg");
    }
  }
}
@media (min-width: 769px) {
  .hero-screen {
    background-size: cover;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/desktop/imghero.jpg");
    @media screen and (min-width: 1200px) {
      height: 600px;
    }
  }

  @media (min-resolution: 2dppx) {
    .hero-screen {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/desktop/imghero@2x.jpg");

      @media screen and (min-width: 1200px) {
        height: 600px;
      }
    }
  }
}

.hero-screen__title {
  color: $background-color;
  font-size: 26px;
  line-height: 42px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  margin-top: 0px;
  margin-bottom: 30px;
  padding-top: 118px;
  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    font-size: 44px;
    line-height: 60px;
  }
}
.hero-screen__btn {
  display: block;
  margin: 0 auto;
  font: bold 16px/1.8 Roboto, sans-serif;
  color: $background-color;
  background: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 32px;
  border-color: $accent-color;
  letter-spacing: 0.06em;
  border: none;
}
