.header__logo {
  color: $primary-text-color;
  font-family: Raleway;
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
}
.logo--second-color {
  color: $accent-color;
}
.footer__logo {
  color: $background-color;
  font-family: Raleway;
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
}
