$primary-text-color: #212121;
$secondary-text-color: #757575;
$background-color: #fff;
$secondary-background-color: #2f303a;
$third-background-color: #f5f4fa;
$footer-contacts-color: rgba(255, 255, 255, 0.6);
$accent-color: #2196f3;
$border-header: #ececec;

$main-font-family: Roboto, sans-serif;
$secondary-font-family: Raleway;
